<h1>Add a New Studentstudentdirector</h1>

<form action="/studentdirectors" method="post">

  <p>
    <label>What is the Student director's name?</label>
    <input type="text" name="full_name">
  </p>


  <p>
    <label>Do you have a link to a photo?</label>
    <input type="text" name="url">
  </p>

<p>
    <label>Note: Add a new apartment type in the Home page to manage an apartment!</label>
    </p>
  <input type="submit"> or <a href="/studentdirectors">Cancel</a>

</form>
